html
{
    background-color: #F4F1ED;
    background:url(../images/html-bg.png) top left repeat-x;
}

body
{
    font-family: Verdana, sans-serif, Arial;
    font-size: 12px;

}

p
{
    margin-top:10px;
    margin-bottom:10px;
}

#container
{
    width:100%;
    position: relative;
    margin: 0;

}

.top-header
{
    width:100%;
    height: 150px;
    background:url('../images/pbuo.png') top right repeat-x #457EAD;
}


.nav
{
    display:block;
    height:30px;
    padding-top:10px;
    background-color: #FFFFFF;
    background: url(../images/nav-bg.png) top left repeat-x;
    border-bottom:2px solid #CACACA;
    width:100%;
}

.nav>li

{
    position:relative;
    float:left;
    height:100%;
    background-color:#4D8CC2;
    background: url(../images/menu-bg.png) top left repeat-x;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-right: 5px;
    margin-left: 5px;
}

.nav a
{
    line-height:30px;
    padding:25px 10px 25px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size:10px;
    color:#F4F6F4;

}

.nav>li:hover
{

    background: url(../images/menu-bg-hover.png) top left repeat-x;
}

.nav>li:hover>.sub-nav
{
    position:absolute;
    display:block;
}

.nav .nav-current
{
    background: url(../images/menu-bg-hover.png) top left repeat-x;
}

.nav-current a
{

}

.nav>li>ul.sub-nav
{
    position:absolute;
    display:none;
    width:200px;
    background-color: #FFFFFF;
    z-index:100;
    border-top: 2px solid #DEDEDE;
    border-right: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
}

.sub-nav>li
{
    height:100%;
    display:block;
    float:none;
    background-color: #FFFFFF;
}

.sub-nav>li>a
{
    padding: 0px 6px;
    display:block;
    color: #3a6991;
    border-bottom: 2px solid #DEDEDE;
}

.sub-nav>li>a:hover
{
    background-color:#A1CFF2;
}

.content
{

    display: inline;
    position:relative;
    width:100%;
    background-color: #ffffff;
    float:left;
    padding:0;
}

.content-main
{
    margin-top:10px;
}

.content-left
{
    margin-top:10px;
    margin-bottom:10px;
    float:left;
    width:250px;
}

.content-right
{
    margin:20px 20px 10px 260px;

}

.content-table {
    overflow: auto;
}
.box
{
    width:235px;
    border: 2px solid #DEDEDE;
    border-radius:5px;
    margin:5px auto 10px;
}

.box-title
{
    width:90%;
    background-color: #457EAD;
    text-transform: uppercase;
    line-height: 30px;
    margin:10px auto 2px;
    border-radius:5px;
    text-align: center;
    font-weight:bold;
    color:#ffffff;
}

.box-content
{
    margin:5px auto 10px;
    width:90%;
}

.footer
{
    text-align:center;
    display:inline;
    position:relative;
    width:100%;
    background-color:#57A0DB;
    border-bottom:2px solid #CACACA;
    float:left;
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom:10px;
}



