<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="css/loader.css">

<title></title>
</head>
<body>
<div id="container">
    <div class="top-header">

    </div>
    <ul class="nav">
        <li><a href="#">Home</a>
    </ul>
<div class="content">
<div class="content-left">
<div class="box">
    <div class="box-title">Pengujian Performa</div>
    <div class="box-content">
    Pengujian performa
    </div>
</div>
</div>
<div class="content-right">
    {% block content %}
    <h1>Halaman utama</h1>
    <p>Halaman utama untuk melakukan testing rendering view tanpa akses ke database</p>
    {% endblock content %}
</div>
</div>
<div class="footer">
&copy; Farly &lt;farly[dot]fd[at]gmail.com&gt; 2014
</div>
</div>


</body>
</html>
