{% extends 'base.html' %}
{% block content %}
<h1>Berita</h1>
<div>
{% for data in news %}
<h2>{{ data.title }}</h2>
<p>{{ data.content }}</p>
<div style="display:block;font-style: italic;">Tanggal Publikasi: {{ data.publish_date }}</div>
{% endfor %}
</div>
{% endblock content %}
